<form id="importedMemberForm">
<ul class="list-group checkboxList">
	{{#each members}}
		<li class="list-group-item">
			<label {{bind-attr class=':control-label found::disabled'}}>
				<input type="checkbox" name="conceptId" {{bind-attr value='referenceComponentId'}} {{bind-attr checked='active'}} {{bind-attr disabled='disabled'}}> 
				{{description}}
				{{#if found}}{{#unless active}}<br><span class="warning">This concept is INACTIVE and so cannot be added to this Refset at this time</span>{{/unless}}{{/if}}
				<span class="referenceComponentId">{{referenceComponentId}}</span>
			</label>
		</li>
	{{/each}}
</ul>
</form>
