<ul class="list-group refset-list">
	
	<li class="list-group-item list-header">
		<span class="snomed-id">Refset Id</span>
		<span>Description</span>
	<br>
		<span class="language">Language</span>
		<span class="snomed-id">Refset Type Id</span>
		<span class="snomed-id">Module Id</span>
		<span class="snomed-id">Component Type Id</span>
		{{#if published}}<span class="effective-time pointer" rel="tooltip" title="Latest member effective time">Latest Effective Time</span>{{/if}}
		<span class="num-members">Member Count</span>
		<span class="last-modified">Last Update Date</span>
		<span class="last-modified-by">Last Update User</span>
		<span class="right">(hover over anything in <span class="tooltiplink">blue</span> for more info)</span>
	</li>	
	{{#if refsets}}
		{{#with view as outerView}}
			{{#each refsets}}
				<li class="list-group-item refset-list-item">
					{{#link-to 'refsets.refset' uuid}}<button class="btn btn-primary right">view</button>{{/link-to}}
					<span class="id-desc">{{#if published}}{{sctId}} | {{/if}}{{description}}</span>
	
					{{refset-list-item-span 'language' languageCode outerView.controller.languageTypes}}
					{{refset-list-item-span 'snomed-id' typeId outerView.controller.refsetTypes}}
					{{refset-list-item-span 'snomed-id' moduleId outerView.controller.moduleTypes}}
					{{refset-list-item-span 'snomed-id' componentTypeId outerView.controller.componentTypes}}
					
					{{#if published}}<span class="effective-time">{{effective-time-format latestEffectiveTime}}</span>{{/if}}

					<span class="num-members">{{totalNoOfMembers}}</span>
					<span class="last-modified">{{date-format modifiedDate}}</span>
					<span class="last-modified-by">{{modifiedBy}}</span>
				</li>
			{{/each}}
		{{/with}}
	{{else}}
		<p>There are currently no matching refsets available.</p>
	{{/if}}
</ul>