{{#bs-panel heading=title type="info" class="panelNoPadding"}}

	<ul class="list-group">
		{{#each refsets}}
			<li class="list-group-item">
				{{#if published}}
				  <span class="badge">{{date-format publishedDate}}</span>
				{{/if}}
				<h4>{{description}}</h4>
				<em>owner:</em> {{createdBy}}
				<em>created:</em> {{date-format created}}
				<em>members:</em> {{numMembers}}
				
				{{#link-to "refsets.refset" this}}view{{/link-to}}
			</li>
		{{/each}}
	</ul>

{{/bs-panel}}

		
<ul class="pagination">

  <li><a href="#">&laquo;</a></li>
  
  {{#each p in pages}}
  <li><a href="#">{{p}}</a></li>
  {{/each}}
  
  <li><a href="#">&raquo;</a></li>
</ul>