<div class="dashboard">
	<div class="colMed inner">
		{{#bs-panel heading="Create New Refset" type="info" class="panelNoPadding"}}
			{{#with refset}}
			<form class="form-horizontal" id="newRefsetForm" name="newRefsetForm">

				<label class="control-label" for="description">Refset Description</label>
				<textarea id="description" name="description">{{unbound description}}</textarea>

				<label class="control-label" for="languageCode">Language</label>
				<select id="type" name="languageCode" class="input-xlarge">
					<option value="en_US">US English</option>
				</select>

				<label class="control-label" for="type">Refset Type</label>
				<select id="type" name="type" class="input-xlarge">
					<option value="simple">Simple</option>
				</select>

			    <label class="control-label" for="active">
			    	<input name="active" id="active" value="1" type="checkbox" {{bind-attr checked="active"}}>
			    	Refset is active?
			    </label>

			    <label class="control-label" for="import">
			    	<input name="import" id="import" value="1" type="checkbox" {{action "togglePublishedRefsetImportForm" on="change"}} {{bind-attr checked="doImportPublishedRefset"}}>
			    	Are you importing a Published Refset?
			    </label>

			    <label class="control-label" for="import-members">
			    	<input name="import" id="import-members" value="1" type="checkbox" {{action "toggleMembersImportForm" on="change"}} {{bind-attr checked="doImportMembers"}}>
			    	Do you wish to import Members?
			    </label>
				{{/with}}

				{{#if doImportPublishedRefset}}
					{{#with refset}}
						<label class="control-label" for="id">ID</label>
						<input id="id" name="id" placeholder="ID" type="text" {{bind-attr value="id"}}>

						<label class="control-label" for="moduleId">Module ID</label>
						<input id="moduleId" name="moduleId" placeholder="Module ID" type="text" {{bind-attr value="moduleId"}}>

						<label class="control-label" for="created">Create Date</label>
						<input id="created" name="created" placeholder="Created Date" type="text"  {{bind-attr value="created"}}>

						<label class="control-label" for="createdBy">Created By</label>
						<input id="createdBy" name="createdBy" placeholder="refset created by" type="text"  {{bind-attr value="createdBy"}}>

						<label class="control-label" for="publishedDate">Date Published</label>
						<input id="publishedDate" name="publishedDate" placeholder="Date Published" required="" type="text" {{bind-attr value="publishedDate"}}>

						<label class="control-label" for="effectiveTime">Effective Time</label>
						<input id="effectiveTime" name="effectiveTime" placeholder="Effective Time" required="" type="text" {{bind-attr value="effectiveTime"}}>
					{{/with}}
				{{/if}}

			</form>

			{{#if doImportMembers}}

				<b>Import Members</b>
				<p>To import members from a flat-file export, either use the browse button to locate your file, or drag a file below.</p>

				<input type="file" id="refsetUploadFileInput" />

				<div id="fileUploadDropZone" class="fileUploadDropZone">Drop files here</div>

			{{/if}}

			<button {{action "initRefsetImport" on="click"}}>Create Refset</button>

		{{/bs-panel}}

		<script type="text/javascript">
			function readSingleFile(evt)
			{
				evt.stopPropagation();
				evt.preventDefault();

				if (typeof evt.dataTransfer === "undefined")
					var f = evt.target.files[0];
				else	
					var f = evt.dataTransfer.files[0];
		
				if (f) 
				{
					var r = new FileReader();
					
					r.onload = function(e) 
					{ 
						var contents = e.target.result;

						var controller = Refset.__container__.lookup("controller:refsets.upload");
						controller.send('uploadMemberList',contents);
					}
					
					r.readAsText(f);
				} 
				else 
				{ 
					alert("Failed to load file");
				}
			}
			
			function handleDragOver(evt) 
			{
				evt.stopPropagation();
				evt.preventDefault();
				evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
			}
		</script>
	</div>
	
	{{#if members}}
	<div class="colMed inner">
		{{member-list members=members title='Members to be imported'}}
	</div>
	{{/if}}
</div>
