<div class="dashboard">
	<div class="colMed inner">
		{{#bs-panel heading="Create New Refset" type="info"}}
			{{#with refset}}
			<form class="myForm" id="newRefsetForm" name="newRefsetForm">

				<label class="control-label" for="description">Refset Description</label>
				<textarea id="description" name="description">{{unbound description}}</textarea>

				<label class="control-label" for="languageCode">Language</label>
				<select id="type" name="languageCode" class="input-xlarge">
					<option value="en_US">US English</option>
				</select>

				<label class="control-label" for="type">Refset Type</label>
				<select id="type" name="type" class="input-xlarge">
					<option value="simple">Simple</option>
				</select>

			    <label class="control-label" for="active">
			    	<input name="active" id="active" value="1" type="checkbox" {{bind-attr checked="active"}}>
			    	Refset is active?
			    </label>

			    <label class="control-label" for="import">
			    	<input name="import" id="import" value="1" type="checkbox" {{action "togglePublishedRefsetImportForm" on="change"}} {{bind-attr checked="doImportPublishedRefset"}}>
			    	Are you importing a Published Refset?
			    </label>

			    <label class="control-label" for="import-members">
			    	<input name="import" id="import-members" value="1" type="checkbox" {{action "toggleMembersImportForm" on="change"}} {{bind-attr checked="doImportMembers"}}>
			    	Do you wish to import Members?
			    </label>
				{{/with}}

				{{#if doImportPublishedRefset}}
					{{#with refset}}
						<label class="control-label" for="id">ID</label>
						<input id="id" name="id" placeholder="ID" type="text" {{bind-attr value="id"}}>

						<label class="control-label" for="moduleId">Module ID</label>
						<input id="moduleId" name="moduleId" placeholder="Module ID" type="text" {{bind-attr value="moduleId"}}>

						<label class="control-label" for="created">Create Date</label>
						<input id="created" name="created" placeholder="Created Date" type="text"  {{bind-attr value="created"}}>

						<label class="control-label" for="createdBy">Created By</label>
						<input id="createdBy" name="createdBy" placeholder="refset created by" type="text"  {{bind-attr value="createdBy"}}>

						<label class="control-label" for="publishedDate">Date Published</label>
						<input id="publishedDate" name="publishedDate" placeholder="Date Published" required="" type="text" {{bind-attr value="publishedDate"}}>

						<label class="control-label" for="effectiveTime">Effective Time</label>
						<input id="effectiveTime" name="effectiveTime" placeholder="Effective Time" required="" type="text" {{bind-attr value="effectiveTime"}}>
					{{/with}}
				{{/if}}

			</form>

			{{#if doImportMembers}}

				<b>Import Members (flat file)</b>
				<p>To import members from a flat-file of concept IDs, either use the browse button to locate your file, or drag a file below.</p>

				<input type="file" id="refsetUploadFileInput" />

				<div id="fileUploadDropZone" class="fileUploadDropZone">Drop files here</div>

			{{/if}}

			<button {{action "initRefsetImport" on="click"}}>Create Refset</button>

		{{/bs-panel}}

		<!-- This requires vendore/my_utilities/drag_drop_file_upload.js --->
	</div>

	
	{{#if doImportMembers}}
	<div class="colMed inner">
		{{#if getConceptDataInProgress}}
			{{#bs-panel heading="Importing member concepts" type="info"}}
				<img src="assets/img/googleballs-animated.gif">
				<p><b>Please wait...</b></p>
			{{/bs-panel}}
		{{else}}
			{{#bs-panel heading="Member concepts to be imported" type="info" class="panelNoPadding"}}
				{{member-list members=members}}
			{{/bs-panel}}
		{{/if}}
	</div>
	{{/if}}
</div>
