{{#if authError}}
	You need to <a href="#" {{action 'showLoginForm'}}>login</a> to access this refset
{{else}}
	<div class="dashboard">
			{{#bs-panel heading="Refset Header" type="info" collapsible="true"}}
				<form id="refsetEditForm" class="myForm">
					
					<table width="100%>
						
						<tr>
							{{#if published}}
								<td class="label">Published on</td><td class="content">{{date-format publishedDate}}</td>
							{{else}}
								<td class="label">Not yet published</td>
							{{/if}}
						</tr>

						<tr>
							<td class="content" colspan="4"><textarea name="description" placeholder="Description" rows=2 class="ember-view ember-text-area form-control">{{unbound description}}</textarea></td>
						</tr>
	
						<tr>
							<td class="label">Language</td><td class="content">{{languageCode}}</td>
							<td class="label">Active</td><td class="content">{{yes-no-format active}}</td>
						</tr>
	
						<tr>
							<td class="label">Refset Type</td><td class="content">{{id-to-name typeId}}</td>
							<td class="label">Refset Members Type</td><td class="content">{{id-to-name componentTypeId}}</td>
						</tr>
	
						<tr>
							<td class="label">Created on</td><td class="content">{{date-format created}}</td>
							<td class="label">by</td><td class="content">{{#if createdBy}}{{createdBy}}{{else}}unknown{{/if}}</td>
						</tr>
	
						<tr>
							<td class="label">ID</td><td class="content">{{id}}</td>
							<td class="label">Module ID</td><td class="content">{{moduleId}}</td>
						</tr>
					
					</table>
				</form>
			{{/bs-panel}}
			
			{{#bs-panel heading="Members (ticks indicate ACTIVE concepts)" type="info" class="panelNoPadding" collapsible=true open=false}}
			
				<ul class="list-group checkboxList">
					{{#each members}}
						<li {{bind-attr class=':list-group-item published::unpublishedMember'}}>
							<label {{bind-attr class=':control-label found::disabled'}}>
								<input type="checkbox" name="conceptId" {{bind-attr value='referenceComponentId'}} {{bind-attr checked='active'}} {{bind-attr disabled='disabled'}}> 
								{{description}}
								{{#if found}}{{#unless conceptactive}}<br><span class="warning">This concept is INACTIVE and so will not be included in any Refset export at this time</span>{{/unless}}{{/if}}
								<span class="referenceComponentId">{{referenceComponentId}}</span>
							</label>
							{{#if published}}
								<span class="publishDate"><em>Effective date:</em> <b>{{date-format effectiveTime}}</b></span>
							{{else}}
								<label class="control-label">
									<input type="checkbox" name="deleteConcept" {{bind-attr value='referenceComponentId'}}> Delete this concept from the Refset
								</label>
							{{/if}}
						</li>
					{{/each}}
				</ul>
			
			{{/bs-panel}}

			{{#unless published}}
			<button {{action 'deleteRefset' id}} class="btn btn-default">Delete</button>
			{{/unless}}
			<button {{action 'exportRefset' id}} class="btn btn-default">Export</button>
			<button {{action 'updateRefset'}} class="btn btn-primary right">Save changes</button>
		
	</div>
{{/if}}