{{#if authError}}
	You need to <a href="#" {{action 'showLoginForm'}}>login</a> to access this refset
{{else}}
	<div class="dashboard">
		<div class="colMed inner">
			{{#bs-panel heading="Refset Details" type="info" class=""}}
				{{#em-form model=model submit_button=false id="refsetEditForm"}}
					<label id="ember877" class="ember-view control-label">Description</label>
					<textarea name="description" placeholder="Description" rows=2 class="ember-view ember-text-area form-control">{{unbound description}}</textarea>

				    {{em-input property="id" label="ID" placeholder="Refset ID" disabled="true" cid="id"}}
				    {{em-input property="moduleId" label="Module ID" placeholder="Module ID" disabled="true" cid="moduleId"}}
				    {{em-input property="formattedCreatedDate" label="Created date" placeholder="Created date" disabled="true"}}
				    {{em-input property="createdBy" label="Created By" placeholder="Created by" disabled="true"}}
					{{em-input property="type" label="Refset Type" placeholder="Refset type" disabled="true"}}
					{{#if published}}
						{{em-input property="formattedPublishedDate" label="Published" placeholder="Published date" disabled="true"}}
					{{else}}
						<label id="ember877" class="ember-view control-label">Published</label>
						Not yet published
					{{/if}}
				{{/em-form}}
			{{/bs-panel}}
			
			<button {{action 'exportRefset'}} class="btn">Export</button>
			<button {{action 'updateRefset'}} class="btn btn-primary right">Save changes</button>
			<button {{action 'deleteAllUnpublishedConcepts'}} class="btn">Delete All Unpublished Concepts</button>
		</div>
		
		<div class="colMed inner">
			{{#bs-panel heading="Members (ticks indicate ACTIVE concepts)" type="info" class="panelNoPadding"}}
			
				<ul class="list-group checkboxList">
					{{#each members}}
						<li {{bind-attr class=':list-group-item published::unpublishedMember'}}>
							<label {{bind-attr class=':control-label found::disabled'}}>
								<input type="checkbox" name="conceptId" {{bind-attr value='referenceComponentId'}} {{bind-attr checked='active'}} {{bind-attr disabled='disabled'}}> 
								{{description}}
								{{#if found}}{{#unless conceptactive}}<br><span class="warning">This concept is INACTIVE and so will not be included in any Refset export at this time</span>{{/unless}}{{/if}}
								<span class="referenceComponentId">{{referenceComponentId}}</span>
							</label>
							{{#if published}}
								<span class="publishDate"><em>Effective date:</em> <b>{{date-format effectiveTime}}</b></span>
							{{else}}
								<label class="control-label">
									<input type="checkbox" name="deleteConcept" {{bind-attr value='referenceComponentId'}}> Delete this concept from the Refset
								</label>
							{{/if}}
						</li>
					{{/each}}
				</ul>
			
			{{/bs-panel}}
		</div>
	</div>
{{/if}}