{{#if error}}

	{{#if unauthorised}}
		You need to <a href="#" {{action 'showLoginForm'}}>login</a> to access this refset
	{{/if}}

	{{#if notFound}}
		We cannot find the Refset you are looking for
	{{/if}}

	{{#if commsError}}
		We were unable to retrieve the Refset from the server
	{{/if}}
	
{{else}}

	<div class="dashboard">
	    <div class="panel panel-info ember-view fade in panelNoPadding">
	        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
	             <h4 class="panel-title">Refset Header</h4>
	        </div>
	        <div class="panel-collapse collapse in">
	            <div id="collapseOne" class="panel-body">
	   				<form id="refsetEditForm" class="myForm">
						
						<table width="100%>
							
							<tr>
								<td class="content" colspan="4">{{textarea value=description}}</td>
							</tr>
	
							<tr>
								<td class="label">Language</td><td class="content">
									{{#if published}}
										{{code-to-language languageCode}}
									{{else}}
										{{snomed-data-dropdown value=languageCode dataType="languagesArray"}}
									{{/if}}
								</td>
								<td class="label">Published</td><td class="content">				
								{{#if published}}
									{{date-format publishedDate}}
								{{else}}
									Not yet published
								{{/if}}								
								</td>
							</tr>
		
							<tr>
								<td class="label">Refset Type</td><td class="content">
									{{#if published}}
										{{snomed-id-to-label typeId refsetTypes}}
									{{else}}
										{{snomed-data-dropdown value=typeId dataType="refsetTypesArray"}}
									{{/if}}
								</td>
								<td class="label">Refset Members Type</td><td class="content">
									{{#if published}}
										{{snomed-id-to-label componentTypeId componentTypes}}
									{{else}}
										{{snomed-data-dropdown value=componentTypeId dataType="componentTypesArray"}}
							  		{{/if}}		
								</td>
							</tr>
		
							<tr>
								<td class="label">Created</td><td class="content">{{date-time-format created}}</td>
								<td class="label">Module</td><td class="content">
									{{#if published}}
										{{snomed-id-to-label moduleId moduleTypes}}
									{{else}}
										{{snomed-data-dropdown value=moduleId dataType="moduleTypesArray" id="newRefsetModuleId"}}
									{{/if}}
								</td>
							</tr>
		
							<tr>
								<td class="label">Last Updated</td><td class="content">{{date-time-format modifiedDate}}</td>
								<td class="label">Last Updated by</td><td class="content">{{modifiedBy}}</td>
							</tr>

							<tr>
								<td class="label">SCTID</td><td class="content">{{#if published}}{{id}}{{/if}}</td>
								<td class="label">UUID</td><td class="content">{{id}}</td>
							</tr>

						</table>
					</form>
					</div>
				</div>
			</div>

		    <div class="panel panel-info ember-view fade in panelNoPadding">
		        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMembers">
		             <h4 class="panel-title">Members ({{members.length}})</h4>
		        </div>
		        <div class="panel-collapse collapse in">
		            <div id="collapseMembers" class="panel-body collapse">
						<ul class="list-group checkboxList">
							{{#if members}}
								{{#with view as outerView}}
								
									{{#each members}}
										<li {{bind-attr class=':list-group-item meta.conceptActive::inactiveConcept meta.deleteConcept:inactiveConcept'}}>
	
											<label class="right">SCTID <span>{{referencedComponentId}}</span></label>
											<p class="description">{{meta.description}}</p>									
	
											{{#if meta.found}}
												<label>Member is active{{view 'toggle-switch' checkedBinding="active" value="id"}}</label>
												<label>Last modified: <span>{{date-time-format modifiedDate}}</span></label>
												<label>Last modified by: <span>{{modifiedBy}}</span></label>
												{{#if published}}
													<label>Published: <span>{{date-time-format effectiveTime}}</span></label>
												{{/if}}
												<br>
												<label>Module:
													<span>
														{{#if published}}
															{{snomed-id-to-label moduleId outerView.controller.moduleTypes}}
														{{else}}
															{{snomed-data-dropdown valueBinding="moduleId" dataType="moduleTypesArray"}}
														 {{/if}}
										 			</span>
												</label>
												<label>Concept effective time: <span>{{date-time-format meta.conceptEffectiveTime}}</span></label>
												{{#unless meta.conceptActive}}<label class="warning">This concept is INACTIVE</label>{{/unless}}
											{{/if}}
	
											{{#unless published}}<label class="right clearRight">Delete this member {{view 'toggle-switch' checkedBinding="meta.deleteConcept" value="id"}}</label>{{/unless}}
										</li>
									{{/each}}
								{{/with}}
							{{else}}
								<li class='list-group-item'>
									Your refset does not have any members yet...
								</li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
			
			<!-- This requires vendore/my_utilities/drag_drop_file_upload.js --->
			<div class="panel panel-info ember-view fade in">
			    <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#importMembersForm">
			         <h4 class="panel-title">Import Members</h4>
			    </div>
			    <div class="panel-collapse collapse in">
			        <div id="importMembersForm" class="panel-body collapse">
					            	
						<b>Import Members (flat file)</b>
						<p>To import potential members from a flat-file of concept IDs, either use the browse button to locate your file, or drag a file below. You will then have an opportunity to review the members before initialting the actual import.</p>
					
						<input type="file" id="refsetUploadFileInput" />
					
						<div id="fileUploadDropZone" class="fileUploadDropZone"><span id="droptext">Drop files here</span></div>
						
						<p><a href="/assets/temp/sample_refset.txt" target="_blank">Click here to download the latest sample refset file which you can use in the form above</a></p>
						
						{{#if potentialMembersToImport}}
							<button {{action 'clearImportList' id}} class="btn btn-default">Clear import list</button>
						{{/if}}
						
						{{#if getConceptDataInProgress}}		
							<h2>Importing member file</h2>
							<img src="assets/img/googleballs-animated.gif">
							<p><b>Please wait...</b></p>
						{{else}}
							{{#if importError}}
								<h2>Importing failed</h2>
								<p><b{{importError}}</b></p>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
 
				{{#unless getConceptDataInProgress}}
					{{#unless importError}}
						{{#if potentialMembersToImport}}
						    <div class="panel panel-info ember-view fade in panelNoPadding">
						        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#importMemberList">
						             <h4 class="panel-title">Review potential members to import({{potentialMembersToImport.length}})</h4>
						        </div>
						        <div class="panel-collapse collapse in">
						            <div id="importMemberList" class="panel-body">
										<ul class="list-group checkboxList">
											{{#each potentialMembersToImport}}
												<li {{bind-attr class=':list-group-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
			
													<label class="right">SCTID <span>{{referencedComponentId}}</span></label>
													<p class="description">{{meta.description}}</p>									
			
													{{#if meta.found}}
														<label>Import as active{{view 'toggle-switch' checkedBinding="active" value="id"}}</label>
			
														<label>Module:
															<span>
																{{#if published}}
																	{{snomed-id-to-label moduleId outerView.controller.moduleTypes}}
																{{else}}
																	{{snomed-data-dropdown valueBinding="moduleId" dataType="moduleTypesArray"}}
																 {{/if}}
												 			</span>
														</label>
															
														<label>Concept effective time: <span>{{date-time-format meta.conceptEffectiveTime}}</span></label>
														{{#unless meta.conceptActive}}<label class="warning">Note: This concept is INACTIVE</label>{{/unless}}
													{{/if}}
			
													{{#unless published}}<label class="right clearRight">Import this concept {{view 'toggle-switch-inverted' checkedBinding="meta.deleteConcept" value="id"}}</label>{{/unless}}
												</li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
						{{/if}}
					{{/unless}}
				{{/unless}}

			{{#unless published}}
			<button {{action 'deleteRefset' id}} class="btn btn-default">Delete</button>
			{{/unless}}
			<button {{action 'exportRefset' id}} class="btn btn-default">Export</button>
			<button {{action 'updateRefset'}} class="btn btn-primary right">Save changes</button>
		
	</div>
{{/if}}