<h1>View Reference Set</h1>

{{#if error}}

	{{#if unauthorised}}
		You need to <a href="#" {{action 'showLoginForm'}}>login</a> to access this Reference Set
	{{/if}}

	{{#if notFound}}
		We cannot find the Reference Set you are looking for
	{{/if}}

	{{#if commsError}}
		We were unable to retrieve the Reference Set from the server
	{{/if}}
	
{{else}}

	<div class="row">
		
		<div class="col-md-9">
			
	    <div class="panel panel-info ember-view fade in panelNoPadding refset-header">
	        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
	             <h4 class="panel-title">Reference Set Header</h4>
	        </div>
	        <div class="panel-collapse collapse in">
	            <div id="collapseOne" class="panel-body">
	   				<form class="refset-header">
						
						<table width="100%">
							
							<tr class="hr"><td width="100"></td><td width="300"><td width="100"></td>
							
							<tr>
								{{#if published}}
									<td class="label">Description</td>
									<td class="content title" colspan="4">{{description}}</td>
								{{else}}
									{{#if editMode}}
										<td class="content" colspan="5">{{textarea value=description class="form-control"}}</td>
									{{else}}
										<td class="label">Description</td>
										<td class="content title" colspan="4">{{description}}</td>
									{{/if}}
								{{/if}}
							</tr>

							<tr>
								<td class="label">Refset Id</td><td class="content">{{#if published}}{{sctId}}{{/if}}</td>
								<td class="label">UUID</td><td class="content" colspan=2>{{uuid}}</td>
							</tr>
		
							<tr>
								<td class="label">Refset Type Id</td><td class="content">
									{{#if published}}
										{{refset-list-item-span 'type-id' typeId refsetTypes}}
									{{else}}
										{{#if editMode}}
											{{snomed-data-dropdown value=typeId dataType="refsetTypesArray"}}
										{{else}}
											{{refset-list-item-span 'type-id' typeId refsetTypes}}
										{{/if}}
									{{/if}}
								</td>

								<td class="label" rel="tooltip" title="Latest member effective time"><span class="pointer">Latest Effective Time</span></td><td class="content" colspan=2>				
									{{effective-time-format latestEffectiveTime}}
								</td>
							</tr>

							<tr>
								<td class="label">Refset Member Type Id</td><td class="content">
									{{#if published}}
 										{{refset-list-item-span 'component-type-id' componentTypeId componentTypes}}
									{{else}}
										{{#if editMode}}
											{{snomed-data-dropdown value=componentTypeId dataType="componentTypesArray"}}
										{{else}}
											{{refset-list-item-span 'component-type-id' componentTypeId componentTypes}}
										{{/if}}																			
							  		{{/if}}		
								</td>
								<td class="label" rel="tooltip" title="Earliest member effective time"><span class="pointer">Earliest Effective Time</span></td><td class="content" colspan=2>				
									{{effective-time-format earliestEffectiveTime}}
								</td>
							</tr>
							
							<tr>
								<td class="label">Module Id</td><td class="content">
									{{#if published}}
										<input type=hidden id="newRefsetModuleId" {{bind-attr value="moduleId"}}>
										{{refset-list-item-span 'module-id' moduleId moduleTypes}}
									{{else}}
										{{#if editMode}}
											{{snomed-data-dropdown value=moduleId dataType="moduleTypesArray" id="newRefsetModuleId"}}
										{{else}}
											<input type=hidden id="newRefsetModuleId" {{bind-attr value="moduleId"}}>
											{{refset-list-item-span 'module-id' moduleId moduleTypes}}
										{{/if}}																	
									{{/if}}
								</td>
								<td class="label" rel="tooltip" title="Planned publish member effective time"><span class="pointer">Planned Publish Date</span></td><td class="content" colspan=2>				
									not available in data yet...
								</td>
							</tr>

							<tr>
								<td colspan=2></td>
								<td class="label">Language Code</td><td class="content">
									{{#if published}}
										{{refset-list-item-span 'language' languageCode languageTypes}}
									{{else}}
										{{#if editMode}}
											{{snomed-data-dropdown value=languageCode dataType="languagesArray"}}
										{{else}}
											{{refset-list-item-span 'language' languageCode languageTypes}}
										{{/if}}
									{{/if}}
								</td>
							</tr>
		
							{{#if showMetaData}}
							<tr class="hr"><td colspan=5><hr></td></tr>
		
							<tr>
								<td class="label">Last Updated</td><td class="content">{{date-time-format modifiedDate}}</td>
								<td class="label">Last Updated by</td><td class="content" colspan=2>{{modifiedBy}}</td>
							</tr>
							{{/if}}
							
						</table>
					</form>
					</div>
				</div>
			</div>

			{{#unless importError}}
				{{#if potentialMembersToImport}}
				    <div class="panel panel-info ember-view fade in panelNoPadding">
				        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#importMemberList">
				             <h4 class="panel-title">Review potential members to import({{potentialMembersToImport.length}})</h4>
				        </div>
				        <div class="panel-collapse collapse in">
				            <div id="importMemberList" class="panel-body member-list">
				            	{{#with controller.moduleTypesArray as moduleTypesArray }}
									 {{#collection Ember.ListView contentBinding="filteredImportMembers" height=400 rowHeight=59 width="100%"}}
										<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
											<span class="trashIcon"><a {{action 'toggleImportMember' referencedComponentId}} {{bind-attr class=':pointer :icon meta.deleteConcept:undelete:delete'}}"></a></span>
		
											<div class="listViewRow"><span class="sctid">{{referencedComponentId}}</span> | <span class="description">{{description}}</span> |</div>						
		
											<span class="tickIcon"><a {{action 'toggleImportMemberActive' referencedComponentId}} {{bind-attr class=':pointer :icon active:tick:cross'}}"></a></span>
		
											<label><span>{{view Em.Select value=content.moduleId content=moduleTypesArray optionValuePath="content.id" optionLabelPath="content.label" class="form-control"}}</span></label>
					
											{{#unless meta.conceptActive}}<label class="inactiveMemberText">Note: This component is INACTIVE</label>{{/unless}}
										</div>
									  {{/collection}}
								  {{/with}}
							</div>
						</div>
					</div>
				{{/if}}
			{{/unless}}
			
		    <div class="panel panel-info ember-view fade in panelNoPadding">
		        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMembers">
		             <h4 class="panel-title">
		             	{{#if meta}}
							{{#if filteringActive}}
								Showing {{filteredMembers.length}} out of {{members.length}} {{#unless meta.allMembersLoaded}}retrieved{{/unless}} members matching your filter.
							{{else}}
								{{totalNoOfMembers}} Members.
							{{/if}}
							 
							{{#unless meta.allMembersLoaded}}(Retrieved {{members.length}} of {{totalNoOfMembers}}){{/unless}}
						{{/if}}&nbsp;
					 </h4>
		        </div>
		        <div class="panel-collapse collapse in">
		            <div id="collapseMembers" class="panel-body">
						<ul class="list-group checkboxList member-list">
							{{#if filteredMembers}}
								<li class="list-group-item member-list-header" style="border-bottom:none">
									<span class="active"><a {{action 'setSortCriteria' 'referencedComponentId'}} class="pointer">Referenced Component Id</a> {{sort-icon sortBy sortOrder 'referencedComponentId'}}</span>
									<span><a {{action 'setSortCriteria' 'description'}} class="pointer">Description</a> {{sort-icon sortBy sortOrder 'description'}}</span>
									<span class="right">(hover over anything in <span class="tooltiplink">blue</span> for more info)</span>
								</li>

								<li class="list-group-item member-list-header" style="border-top:none">
									<span class="active pointer" rel="tooltip" title="Member (not underlying component) status (active/inactive)"><a {{action 'setSortCriteria' 'active'}} class="pointer">Status</a> {{sort-icon sortBy sortOrder 'active'}}</span>
									<span class="effective-time pointer" rel="tooltip" title="Latest published effective time"><a {{action 'setSortCriteria' 'latestEffectiveTime'}} class="pointer">Effective Time</a> {{sort-icon sortBy sortOrder 'latestEffectiveTime'}}</span>
									<span class="module-id"><a {{action 'setSortCriteria' 'moduleId'}} class="pointer">Module Id</a> {{sort-icon sortBy sortOrder 'moduleId'}}</span>
									<span>Member Id</span>
								</li>
									
								{{#if showMetaData}}
								<li class="list-group-item member-list-header" style="border-top:1px solid #eee">
									<span class="last-modified pointer" rel="tooltip" title="Last date this member was modified"><a {{action 'setSortCriteria' 'modifiedDate'}} class="pointer">Last update date</a> {{sort-icon sortBy sortOrder 'modifiedDate'}}</span>
									<span class="last-modified-by pointer" rel="tooltip" title="User that last modified this member"><a {{action 'setSortCriteria' 'modifiedBy'}} class="pointer">Last updated by</a> {{sort-icon sortBy sortOrder 'modifiedBy'}}</span>
								</li>
								
								{{#if editMode}}
					            	{{#with controller.moduleTypesArray as moduleTypesArray }}
										 {{#collection Ember.ListView contentBinding="filteredMembers" height=400 rowHeight=memberRowHeight width="100%"}}
											<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
												<span class="right"><a class="pointer icon info"></a></span>
												<span class="right"><a {{action 'toggleDeleteMember' uuid}} {{bind-attr class=':pointer :icon meta.deleteConcept:undelete:delete'}}"></a></span>

												<div class="memberRowWrapperEdit"><span class="active">{{referencedComponentId}}</span> | <span class="description pointer" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span> |</div>
		
												<span class="left active"><a {{action 'toggleMemberActive' uuid}} {{bind-attr class=':pointer :icon active:tick:cross'}}"></a></span>
	
												<span class="effective-time">{{effective-time-format effectiveTime}}</span>
												<span>
													{{snomed-data-dropdown value=content.moduleId dataType="moduleTypesArray"}}
									 			</span>
												<span>{{uuid}}</span>
												<span>{{#if referencedComponent.active}}ACTIVE{{else}}INACTIVE{{/if}}</span>

												<hr>				
												<span class="last-modified">{{date-time-format modifiedDate}}</span>
												<span class="last-modified-by">{{modifiedBy}}</span>
											</div>
										  {{/collection}}
									  {{/with}}
									  
									{{else}}
									
						            	{{#with controller.moduleTypes as moduleTypes }}
											 {{#collection Ember.ListView contentBinding="filteredMembers" height=400 rowHeight=memberRowHeight width="100%"}}
												<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
						
													<div class="memberRowWrapper"><span class="active">{{referencedComponentId}}</span> | <span class="description pointer" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span> |</div>
			
													<div class="memberRowWrapper">
														<span {{bind-attr class=':active active::inactiveMemberText'}}>{{#if active}}ACTIVE{{else}}INACTIVE{{/if}}</span>
														<span class="effective-time">{{effective-time-format effectiveTime}}</span>
														<span class="module-id">{{refset-list-item-span 'module-id' moduleId moduleTypes}}</span>
														<span>{{uuid}}</span>
														<span>{{#if referencedComponent.active}}ACTIVE{{else}}INACTIVE{{/if}}</span>
													</div>
													
													<hr>				
													<span class="last-modified">{{date-time-format modifiedDate}}</span>
													<span class="last-modified-by">{{modifiedBy}}</span>
												</div>
											  {{/collection}}
										  {{/with}}									
									{{/if}}
								{{else}}
									{{#if editMode}}
						            	{{#with controller.moduleTypesArray as moduleTypesArray }}
											 {{#collection Ember.ListView contentBinding="filteredMembers" height=400 rowHeight=memberRowHeight width="100%"}}
												<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
													<span class="right"><a class="pointer icon info"></a></span>
													<span class="right"><a {{action 'toggleDeleteMember' uuid}} {{bind-attr class=':pointer :icon meta.deleteConcept:undelete:delete'}}"></a></span>
													<div class="memberRowWrapperEdit"><span class="active">{{referencedComponentId}}</span> | <span class="description pointer" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span> |</div>
			
													<span class="left active"><a {{action 'toggleMemberActive' uuid}} {{bind-attr class=':pointer :icon active:tick:cross'}}"></a></span>
		
													<span class="effective-time">{{effective-time-format effectiveTime}}</span>
													<span>
														{{snomed-data-dropdown value=content.moduleId dataType="moduleTypesArray"}}
										 			</span>
													<span>{{uuid}}</span>
													<span>{{#if referencedComponent.active}}ACTIVE{{else}}INACTIVE{{/if}}</span>
												</div>
											  {{/collection}}
										  {{/with}}
										  
										{{else}}
										
							            	{{#with controller.moduleTypes as moduleTypes }}
												 {{#collection Ember.ListView contentBinding="filteredMembers" height=400 rowHeight=memberRowHeight width="100%"}}
													<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
							
														<div class="memberRowWrapper"><span class="active">{{referencedComponentId}}</span> | <span class="description pointer" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span> |</div>
				
														<div class="memberRowWrapper">
															<span {{bind-attr class=':active active::inactiveMemberText'}}>{{#if active}}ACTIVE{{else}}INACTIVE{{/if}}</span>
															<span class="effective-time">{{effective-time-format effectiveTime}}</span>
															<span class="module-id">{{refset-list-item-span 'module-id' moduleId moduleTypes}}</span>
															<span>{{uuid}}</span>
															<span>{{#if referencedComponent.active}}ACTIVE{{else}}INACTIVE{{/if}}</span>
														</div>
													</div>
												  {{/collection}}
											  {{/with}}									
										{{/if}}
								{{/if}}
							
							{{else}}
								<li class='list-group-item'>
									{{#if totalNoOfMembers}}
										{{#if meta.allMembersLoaded}}
											No matches found for your filter.
										{{else}}
											Still loading members. Please wait...
										{{/if}}
									{{else}}
										Your refset does not have any members yet...
									{{/if}}
								</li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			
			{{#if meta}}
				{{#if editMode}}
					<button class="btn btn-default btn-side-menu icon-btn" {{action 'toggleMetaData'}}><span class="btn-text">{{#if showMetaData}}Hide{{else}}Show{{/if}} Metadata</span><span {{bind-attr class=':pointer :icon showHeaderMetaData:hideinfo:info'}}></span></button>

					<hr>

					<!-- This requires vendore/my_utilities/drag_drop_file_upload.js --->
					<h2>Import Members <a {{action 'showImportHelp' }}class="right icon info pointer"></a></h2>
					<div id="fileUploadDropZone" class="fileUploadDropZone"><span id="droptext">Drag a file of component IDs or an individual component from the Snomed CT browser here.<br><br>Alternatively use the file requestor below to choose a file.</span></div>
					<br><input type="file" id="refsetUploadFileInput" />
					
					{{#if potentialMembersToImport}}
						<button {{action 'clearImportList' id}} class="btn btn-default btn-side-menu">Clear import list</button>
					{{/if}}
					
					{{#if getConceptDataInProgress}}		
						<h2>Importing member file</h2>
						{{bs-progress progressBinding="importProgress" type="info" stripped="true"}}
						<p><b>Please wait...</b></p>
					{{else}}
						{{#if importError}}
							<h2>Importing failed</h2>
							<p><b{{importError}}</b></p>
						{{/if}}

					{{/if}}
					
				{{else}}
					{{#if active}}
						<button class="btn btn-default btn-side-menu icon-btn" {{bind-attr class=':pointer :icon showHeaderMetaData:hideinfo:info'}} {{action 'toggleMetaData'}}><span class="btn-text">{{#if showMetaData}}Hide{{else}}Show{{/if}} Metadata</span><span {{bind-attr class=':pointer :icon showHeaderMetaData:hideinfo:info'}}></span></button>
						<button class="btn btn-default btn-side-menu icon-btn" {{action 'exportRefset'}}><span class="btn-text">Export Refset Pseudo Delta RF2</span><span {{bind-attr class=':pointer :icon :link'}}></span></button>
					{{/if}}
				{{/if}}

				<hr>
			
				<select id="filterSelect" class="btn btn-default btn-side-menu" {{action 'addFilter' on="change"}}>
					<option value="0">Filter members...</option>
					{{#unless filterByInactiveConceptsIsActive}}<option value="filterByInactiveConcepts">Member with inactive components</option>{{/unless}}
					
					{{#unless filterByStatusIsActive}}<option value="filterByStatus">Member status (active / inactive)</option>{{/unless}}
					{{#unless filterByModuleIdIsActive}}<option value="filterByModuleId">Module type</option>{{/unless}}
					{{#unless filterByEffectiveTimeIsActive}}<option value="filterByEffectiveTime">Effective time</option>{{/unless}}

					{{#if model.published}}
						{{#unless filterByModifiedMembersIsActive}}<option value="filterByModifiedMembers">Modified members</option>{{/unless}}
						{{#unless filterByPublishedMembersIsActive}}<option value="filterByPublishedMembers">Published members</option>{{/unless}}
					{{/if}}										
					
					{{#unless filterByLastUpdateDateIsActive}}<option value="filterByLastUpdateDate">Last update date</option>{{/unless}}
					{{#unless filterByLastUpdateUserIsActive}}<option value="filterByLastUpdateUser">Last updater</option>{{/unless}}
				</select>

				<p class="filterItem">
					Filter by description or referenced component id: <a {{action 'clearDescriptionFilter'}} class="right pointer">clear</a><br>
					{{input type="text" value=filterByDescription placeholder="type filter here..." class="form-control" action="setSortToBestMatch" on="key-press"}}
				</p>

				{{#if filterByInactiveConceptsIsActive}}
					<p class="filterItem">
						Active members with inactive concepts: <a {{action 'removeFilter' 'filterByInactiveConcepts'}} class="right pointer">remove</a><br>
					</p>
				{{/if}}

				{{#if filterByStatusIsActive}}
					<p class="filterItem">
						Status: {{radio-button value=true checked=filterByStatus}} Active {{radio-button value=false checked=filterByStatus}} Inactive <a {{action 'removeFilter' 'filterByStatus'}} class="right pointer">remove</a><br>
					</p>
				{{/if}}

				
				{{#if filterByModuleIdIsActive}}
					<p class="filterItem">
						Module Id: <a {{action 'removeFilter' 'filterByModuleId'}} class="right pointer">remove</a><br>
						{{snomed-data-dropdown value=filterByModuleId dataType="moduleTypesArray"}}
					</p>
				{{/if}}

				{{#if filterByEffectiveTimeIsActive}}
					<p class="filterItem">
						Effective Time: <a {{action 'removeFilter' 'filterByEffectiveTime'}} class="right pointer">remove</a><br>
						{{#with effectiveTimeArray}}
							{{snomed-data-dropdown value=filterByEffectiveTime dataType="effectiveTimeArray"}}
						{{/with}}
					</p>
				{{/if}}

				{{#if filterByModifiedMembersIsActive}}
					<p class="filterItem">
						Modified members:<a {{action 'removeFilter' 'filterByModifiedMembers'}} class="right pointer">remove</a><br>
						{{radio-button value="1" checked=filterByModifiedMembers}} Modified {{radio-button value="0" checked=filterByModifiedMembers}} Unchanged
					</p>				
				{{/if}}	
	
				{{#if filterByPublishedMembersIsActive}}
					<p class="filterItem">
						Published members:<a {{action 'removeFilter' 'filterByPublishedMembers'}} class="right pointer">remove</a><br>
						{{radio-button value="1" checked=filterByPublishedMembers}} Published {{radio-button value="0" checked=filterByPublishedMembers}} Never Published
					</p>				
				{{/if}}	
				
				{{#if filterByLastUpdateDateIsActive}}
					<p class="filterItem">
						Modified since: <a {{action 'removeFilter' 'filterByLastUpdateDate'}} class="right pointer">remove</a><br>
						{{view Em.TextField 
							placeholder="Pick date..."
						    valueBinding="filterByLastUpdateDate"
							data-provide="datepicker"
							data-date-format="MM d, yyyy"
							data-date-clear-btn="true"
							data-date-autoclose="true"
							class="form-control"}}	
					</p>
				{{/if}}
	
				{{#if filterByLastUpdateUserIsActive}}
					<p class="filterItem">
						Last Updater: <a {{action 'removeFilter' 'filterByLastUpdateUser'}} class="right pointer">remove</a><br>
						{{#with moduleUpdatersArray}}
							{{snomed-data-dropdown value=filterByLastUpdateUser dataType="moduleUpdatersArray"}}
						{{/with}}
					</p>
				{{/if}}
			{{/if}}
			
			{{#if potentialMembersToImport}}
				<p><b>NOTE:</b> Filters apply to both existing member list and import member list</p>
			{{/if}}
			
			<hr>
			
			{{#if meta}}
			
				{{#if editMode}}									
					{{#unless getConceptDataInProgress}}		
						<button {{action 'cancelEdits'}} class="btn btn-danger left">Discard Changes</button>
						<button {{action 'updateRefset'}} class="btn btn-success right">Save changes</button>
					{{/unless}}
				{{else}}
					{{#if user.token}}
						{{#if active}}
							<button class="btn btn-primary btn-side-menu icon-btn" {{action 'toggleEditMode'}}><span class="btn-text">Edit Refset</span><span {{bind-attr class=':pointer :icon :link'}}></span></button>

							{{#if published}}
								<button class="btn btn-warning btn-side-menu icon-btn" {{action 'inactivateRefset'}}><span class="btn-text">Inactivate Refset</span><span {{bind-attr class=':pointer :icon :link'}}></span></button>
							{{/if}}
							
							<button class="btn btn-danger btn-side-menu icon-btn" {{action 'deleteRefset'}}><span class="btn-text">Delete Refset</span><span {{bind-attr class=':pointer :icon :undelete'}}></span></button>
						{{else}}
							<button class="btn btn-warning btn-side-menu icon-btn" {{action 'activateRefset'}}><span class="btn-text">Activate Refset</span><span {{bind-attr class=':pointer :icon :link'}}></span></button>					
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>

{{/if}}
