{{#if error}}

	{{#if unauthorised}}
		You need to <a href="#" {{action 'showLoginForm'}}>login</a> to access this refset
	{{/if}}

	{{#if notFound}}
		We cannot find the Refset you are looking for
	{{/if}}

{{else}}

	<div class="dashboard">
	    <div class="panel panel-info ember-view fade in panelNoPadding">
	        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
	             <h4 class="panel-title">Refset Header</h4>
	        </div>
	        <div class="panel-collapse collapse in">
	            <div id="collapseOne" class="panel-body">
	   				<form id="refsetEditForm" class="myForm">
						
						<table width="100%>
							
							<tr>
								<td class="content" colspan="4"><textarea name="description" placeholder="Description" rows=2 class="ember-view ember-text-area form-control">{{unbound description}}</textarea></td>
							</tr>
		
							<tr>
								<td class="label">Language</td><td class="content">{{code-to-language languageCode}}</td>
								<td class="label">Published</td><td class="content">				
								{{#if published}}
									{{date-format publishedDate}}
								{{else}}
									Not yet published
								{{/if}}								
								</td>
							</tr>
		
							<tr>
								<td class="label">Refset Type</td><td class="content">{{typeLabel}}</td>
								<td class="label">Refset Members Type</td><td class="content">{{componentTypeLabel}}</td>
							</tr>
		
							<tr>
								<td class="label">Created on</td><td class="content">{{date-format created}}</td>
								<td class="label">Created by</td><td class="content">{{createdBy}}</td>
							</tr>
		
							<tr>
								<td class="label">{{#if published}}SCTID{{else}}Temp ID{{/if}}</td><td class="content">{{id}}</td>
								<td class="label">Module ID</td><td class="content">{{moduleId}}</td>
							</tr>
						
						</table>
					</form>
					</div>
				</div>
			</div>
			
		    <div class="panel panel-info ember-view fade in panelNoPadding">
		        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
		             <h4 class="panel-title">Members {{#if members.length}}({{members.length}}){{/if}}</h4>
		        </div>
		        <div class="panel-collapse collapse in">
		            <div id="collapseTwo" class="panel-body collapse">
						<ul class="list-group checkboxList">
							{{#each members}}
								<li {{bind-attr class=':list-group-item conceptActive::inactiveConcept deleteConcept:inactiveConcept'}}>

									<label class="right">SCTID <span>{{referenceComponentId}}</span></label>
									<p class="description">{{description}}</p>									
									
									{{#if found}}
										<label>Member is active{{view 'toggle-switch' checkedBinding="active"}}</label>
										<label>Last modified: <span>{{date-time-format effectiveTime}}</span></label>
										<label>Last modified by: <span>unknown</span></label>
										{{#if published}}
											<label>Published: <span>unknown</span></label>
										{{/if}}
										<br>
										<label>Concept effective time: <span>{{date-time-format conceptEffectiveTime}}</span></label>
										{{#unless conceptActive}}<label class="warning">This concept is INACTIVE and so will not be included in any Refset export at this time</label>{{/unless}}
									{{/if}}

									{{#unless published}}<label class="right clearRight">Delete this member {{view 'toggle-switch' checkedBinding="deleteConcept"}}</label>{{/unless}}
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			
			<script>setTimeout(function(){$("[name='conceptId']").bootstrapSwitch();},1000);</script>
			
			{{#unless published}}
			<button {{action 'deleteRefset' id}} class="btn btn-default">Delete</button>
			{{/unless}}
			<button {{action 'exportRefset' id}} class="btn btn-default">Export</button>
			<button {{action 'updateRefset'}} class="btn btn-primary right">Save changes</button>
		
	</div>
{{/if}}