<div id="registrationForm" class="RefsetPanel">
	<form>		
		{{input value=regname 			type="text" 	placeholder="Your Name" class="form-control"}}
		{{input value=regphone 			type="text" 	placeholder="Your phone number" class="form-control"}}
		
		{{input value=reguser 			type="text" 	placeholder="Already registered with IHTSDO? Enter your login ID here..." class="form-control"}}
		{{input value=regnationality 	type="text" 	placeholder="Otherwise, please tell us your nationality" class="form-control"}}
		
		{{textarea value=regnotes placeholder="Please tell us why you would like access to Snomed CT" class="form-control"}}
	</form>
</div>